.modal_management {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
    &-content {
        padding: 66px 51px 66px 51px;
        background-color: white;
        width: 60.69%;
        // height: 35.96%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 24px;
        &-title {
            display: flex;
            justify-content: center;
            font-weight: 600;
            align-items: center;
            .icon {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                svg {
                    width: inherit;
                    height: inherit;
                    path {
                        fill: #c31d36;
                    }
                }
            }
        }
        &-text {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 20px 0 25px 0;
        }
        &-button {
            display: flex;
            height: 54px;
            justify-content: center;
            gap: 20px;
            button {
                height: 100%;
                width: 17.98%;
                font-size: 20px;
            }
            .btn-outline {
                background-color: white;
                border: 1px solid #c31d36;
                color: #c31d36;
            }
        }
    }
}

.show_modal_management {
    display: block;
}