.sms_enrolment_setting {
    &-option-duration {
        padding-left: 3rem;
        .text {
            margin-bottom: 1rem;
        }
    }
    .levy_setting-title {
        margin: 41px 0 28px 0;
    }
}