@import "../../variable";
.btn-admin-top-right,
.btn-admin-bot-right {
    // position: absolute;
    border-radius: 8px !important;
    font-size: 16px;
    height: 39px;
}

.button-admin {
    height: 39px;
    border-radius: 8px !important;
    font-size: 16px;
}

.btn-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem;
    position: relative;
    .icon {
        width: 10.36px;
        height: 5.92px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: inherit;
            height: inherit;
            path {
                fill: white;
            }
        }
    }
    .btn-box-select {
        position: absolute;
        top: 110%;
        left: -10%;
        width: 170px;
        border: 1px solid rgba(128, 128, 128, 0.171);
        border-radius: 12px;
        padding: 15px 23px 5px 18px;
        background-color: $backgroundColorDashboard;
        color: #3c3e43;
        text-align: left;
        display: none;
        z-index: 100;
        transition: 0.5s;
        ul {
            li {
                margin-bottom: 10px;
            }
        }
    }
    .btn-box-select-show {
        display: block;
    }
}

.btn-admin-top-right {
    top: 22px;
    right: 34px;
}

.btn-admin-bot-right {
    bottom: 22px;
    right: 34px;
}

.notification_btn {
    font-size: 16px;
    font-weight: 500;
}

.btn_field {
    // position: absolute;
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 20px;
    .success {
        color: green;
    }
}