// new
$sidebar-mini-width: 56px;
//
//overrides
$header-height: 56px;
$grid-gutter-width: 30px;
$sidebar-width: 230px;
//icon
$font-family-icon: "Material Design Icons";
$form-group-margin-bottom: 0;