.dashboard {
  width: 100%;
  min-height: 100vh;
  color: #3c3e43;
}

.btn-option {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 40px;
}

.btn-option a {
  padding: 20px;
  width: calc((100% / 2) - 17px);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  height: 113px;
  font-size: 20px;
  font-weight: 400;
  color: #3c3e43 !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 5.14px 6.13px 15px;
          box-shadow: rgba(0, 0, 0, 0.04) 5.14px 6.13px 15px;
}

.btn-option a:hover {
  color: #3c3e43 !important;
}

.btn-top-language,
.btn-top-back {
  position: absolute;
  height: 6.1%;
  top: 4.42%;
  left: 84.19%;
  background-color: #ffffff;
  border-radius: 12px;
  color: #c31d36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  z-index: 100;
}

.btn-top-language {
  width: 11.06%;
}

.scanning-text-error {
  top: 24.58%;
}

.scanning-image-error {
  top: 42.47%;
}

.btn-top-back {
  width: 15.6%;
  left: 79.65%;
}

.img-nets {
  width: 100px !important;
}

.header {
  position: relative;
  width: inherit;
  height: 14.84%;
  background-color: #c31d36;
}

.btn-ouline {
  border: 1px solid #c31d36;
  color: #c31d36;
  background-color: #ffffff;
}

.body-payment-successfully-vaccin {
  top: 35.23%;
}

.notification-successfully-vaccin {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  position: relative;
  width: 90%;
}

.notification-successfully-vaccin .text {
  position: absolute;
  top: -4px;
  left: 37px;
  width: 100%;
}

.notification-payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 4.69%;
  top: 26.05%;
  font-size: 22px;
}

.notification-payment .icon {
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.notification-payment .icon svg {
  width: inherit;
  height: inherit;
}

.btn-red {
  background-color: #c31d36 !important;
  color: #ffffff !important;
}

.vaccination button {
  margin-top: 25.3px;
  width: 29.11%;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.icon-gray svg path {
  stroke: #aeaeae !important;
}

.failed-levy {
  top: 28.09%;
}

button {
  border-radius: 12px;
  border: none;
}

.text-top-home-warning {
  top: 28.88% !important;
}

.warning-unable-to-print {
  top: 39.53% !important;
}

.home-btn-unable-to-print {
  top: 56.06% !important;
}

.linkUrl {
  background-color: white;
}

.linkUrl a {
  display: block;
  color: blue;
}

.ant-picker-footer {
  display: none;
}

.white-text {
  color: white !important;
}

.popup .blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 300px;
  width: 60%;
  font-size: 40px;
  background-color: white;
  border-radius: 12px;
  z-index: 110;
  color: black;
  text-align: center;
}

.popup-content .text {
  margin-top: 2rem;
}

.popup-content .text_small {
  font-size: 20px;
  color: #c31d36;
  font-weight: bold;
}

.popup-content .btn-div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  height: 80px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.popup-content .btn-div .btn {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popup .count_remaining {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #c31d36;
}

.popup_load .blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup_load-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 356px;
  width: 50%;
  font-size: 40px;
  background-color: white;
  border-radius: 12px;
  z-index: 110;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_load-content img {
  margin-top: 1rem;
  width: 110px;
  height: 110px;
}

.popup_load-content .text {
  text-align: center;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.popup_load-content .detail {
  font-size: 30px;
  max-width: 60%;
  text-align: center;
}

.popup_cancel .blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup_cancel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 356px;
  width: 50%;
  font-size: 40px;
  background-color: white;
  border-radius: 12px;
  z-index: 110;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_cancel-content img {
  margin-top: 1rem;
  width: 110px;
  height: 110px;
}

.popup_cancel-content .title {
  margin-top: 5rem;
  text-align: center;
  font-size: 31px;
  font-weight: bold;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup_cancel-content .title .icon {
  margin-right: 1rem;
}

.popup_cancel-content .detail {
  font-size: 25px;
  max-width: 65%;
  text-align: center;
}

.popup_take_remaining .blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup_take_remaining-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 300px;
  width: 60%;
  font-size: 40px;
  background-color: white;
  border-radius: 12px;
  z-index: 110;
  color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup_take_remaining-content .text {
  margin-top: 1rem;
  max-width: 80%;
}

.popup_take_remaining-content img {
  height: 100%;
  -webkit-animation: Spinner 1s infinite linear;
          animation: Spinner 1s infinite linear;
}

.popup_take_remaining-content .btn-div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 40px;
  height: 80px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.popup_take_remaining-content .btn-div .btn {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@-webkit-keyframes Spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes Spinner {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.blur_next {
  width: 100%;
  height: calc(100% - 14.84%);
}

.countDown {
  font-size: 25px;
  color: #c31d36;
  position: absolute;
  right: 100px;
  font-weight: bold;
  top: 20%;
}

.disable_btn {
  background: darkgray;
  color: #b33c4e;
  cursor: not-allowed;
}

.btn-gray {
  background-color: #888888 !important;
  color: white !important;
}

.put_link {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.put_link:hover {
  color: cornflowerblue;
}

.mandatory {
  font-size: 16px;
  color: #c31d36;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.schedule_text {
  font-size: 13px;
  color: #c31d36;
  margin-top: 0.5rem;
}

.schedule_text .time_inline {
  display: inline-block;
}
/*# sourceMappingURL=Public.css.map */