.realtime_home {
    padding: 27px 31px;
    height: 644px;
    display: flex;
    &-left {
        width: 27.98%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-top {
            &-title {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            &-infor {
                .box {
                    height: 76.05px;
                    margin-bottom: 39.8px;
                    display: flex;
                    &-arrow {
                        width: 76.05px;
                        height: inherit;
                        background-color: #f7f5f5;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 9px;
                        svg {
                            width: 33.06px;
                            height: 40.57px;
                        }
                    }
                    &-detail {
                        margin-left: 22px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        &-number {
                            font-size: 60px;
                            font-weight: bold;
                            height: 72%;
                            display: flex;
                            align-items: center;
                        }
                        &-text {
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        &-bot {
            button {
                width: 100%;
                height: 50.68px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
    &-right {
        width: calc(100% - 303px);
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.kiosk_transaction_home {
    table {
        font-size: 12px;
        th {
            text-align: left;
            font-weight: 600;
        }
        tr {
            height: 40px;
        }
    }
}

.table_admin {
    width: 100%;
    margin-left: 50px !important;
    border-collapse: collapse;
    th {
        position: sticky;
        top: 0;
        z-index: 5;
        background: #fff;
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }
    tr {
        border-bottom: 1px solid rgba(128, 128, 128, 0.24);
        padding: 0;
        height: 42px;
        svg {
            margin-right: 5px;
        }
        u {
            cursor: pointer;
        }
    }
    .td-center {
        display: flex;
        align-items: center;
    }
    .table_id {
        cursor: pointer;
        &:hover {
            color: #808080;
        }
        svg {
            margin-left: 5px;
        }
    }
}

.admin-color-green {
    color: #2ab13e;
    svg {
        path {
            fill: #2ab13e;
        }
    }
}

.admin-color-oranger {
    color: #f29500;
    svg {
        path {
            fill: #f29500;
        }
    }
}

.admin-color-red {
    color: rgb(195, 29, 54);
    svg {
        path {
            fill: rgb(195, 29, 54);
        }
    }
}
.title-box {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    .icon {
        margin-left: 17px;
    }
    b {
        font-weight: 600;
    }
    i {
        font-weight: 400 !important;
        font-style: normal;
    }
    .list_kiosks_title {
        display: inline;
        font-weight: 400;
        font-size: 14px;
    }
}