.scanner_status {
    width: 64.28%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 26.73%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    &-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &-left {
            width: 47.84%;
            border-radius: 12px;
            overflow: hidden;
            .header {
                font-size: 34px;
                font-weight: 600;
                height: 72px;
                background-color: #707070;
                display: flex;
                align-items: center;
                width: 100%;
                padding-left: 29px;
            }
            .content {
                padding-top: 10px;
                padding-left: 29px;
                background-color: #3c3e43;
                height: calc(100% - 72px);
                position: relative;
                display: flex;
                align-items: center;
                font-size: 18px;
                display: flex;
                align-items: center;
                ul {
                    li {
                        display: flex;
                        align-items: center;
                        padding: 5px 0;
                        .number {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: white;
                            margin-right: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: black;
                        }
                        .text {
                            font-size: 22px;
                        }
                    }
                    padding: 10px 0;
                }
            }
        }
        &-right {
            width: calc(52.16% - 25px);
            background-color: #3c3e43;
            border-radius: 12px;
            overflow: hidden;
            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 19px;
                width: 100%;
                height: 90px;
                background-color: #3c3e43;
                .icon {
                    width: 36px;
                    height: 36px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    svg {
                        width: 26px;
                        height: 26px;
                    }
                }
                .text {
                    font-size: 40px;
                    margin-left: 17px;
                    margin-right: 66px;
                    font-weight: 600;
                }
                .reset {
                    svg {
                        path {
                            fill: #3c3e43;
                        }
                    }
                }
            }
            .content {
                padding: 0 19px;
                display: flex;
                gap: 16px;
                button {
                    height: 190px;
                    width: 100%;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 2rem;
                }
            }
        }
    }
    &-bot {
        background-color: white;
        border-radius: 12px;
        color: #3c3e43;
        padding: 22px 29px;
        &-title {
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 10px;
        }
        &-content {
            display: flex;
            &-title {
                margin-right: 300px;
            }
            &-value {
                font-weight: 600;
            }
            ul {
                font-size: 20px;
                li:nth-child(2) {
                    padding: 10px 0;
                }
            }
        }
    }
    .printer {
        &_content_detail {
            font-size: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-status {
                display: flex;
                gap: 10px;
            }
            .detail {
                font-weight: 600;
            }
            .please {
                font-weight: 600;
            }
        }
        height: 110px;
    }
}